@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-black;
}

.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.completed {
    @apply line-through;
}